// images can be placed using the format:
// `&nbsp; ![alt text](image-url#left--50)`

// you can add any text you want after this, but if you don't want text to wrap further, add:
// `&nbsp; <br clear="all">`

// NOTE: `&nbsp;` is used to prevent the image from being treated as a block element in editor mode

@use "./base.scss";

img[src$="#image__left"] {
    float: left;
    max-width: 50%;
    margin-right: 2rem;
}

img[src$="#image__right"] {
    float: right;
    max-width: 50%;
    margin-left: 2rem;
}

img[src$="#gif__right--small"] {
    float: right;
    height: 100px; /* Using height instead of width */
    width: auto; /* Let width adjust proportionally */
    position: relative;
    margin-top: -80px;
    margin-left: 2rem;
}

img[src$="#gif__right--big"] {
    float: right;
    height: 250px; /* Using height instead of width */
    position: relative;
    width: auto; /* Let width adjust proportionally */
    margin-left: 2rem;
}

// TODO: change max-width to $mobile
@media screen and (max-width: 800px) {
    img[src$="#image__left"],
    img[src$="#image__right"] {
        float: none;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}